[Unit]
Description=Start sensor IRSensor
Requires=iot.devices.service
After=network-online.target

[Service]
ExecStart=python3 /opt/iot/secure_sensor_management_system/apps/sensors/IRSensor/IRSensor.py
Type=simple

[Install]
WantedBy=multi-user.target
