{% extends "base.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 

<div class="container-fluid">
    <h2><b>Forensics:</b> {{ element.name }} ({{ element.itemid }}) &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-info btn-sm" onclick="showMetaData()">Show/Hide Meta-Data</button></h2>
    <div id="documentdetails" style="display:block;">
        <div class="row">
            <div class="col-sm-6">
                <h4>Metadata</h4>
                <div id="basicdata">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k,v in metadata.items() %}
                            <tr>
                                <td><b>{{ k }}</b></td>
                                <td>{{ v }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>Applied Analysis</h4>
                <div id="basicdata">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Function</th>
                                <th># Claims Checked</th>
                                <th># Differences Found</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in analysisfunctions %}
                            <tr>
                                <td>{{ a.name }}</td>
                                <td>{{ a.claimsanalysed }} &nbsp; <i>({{ "%.2f"|format((a.claimsanalysed / metadata.nclaims)*100) }}%)</i> </td>
                                <td>
                                    {% if a.differencesfound==0 %}
                                    <span class="badge bg-success"> {{ a.differencesfound }} </span>
                                    {% else %}
                                    <span class="badge bg-danger"> {{ a.differencesfound }} </span>&nbsp;<i>({{ "%.2f"|format((a.differencesfound / metadata.nclaims)*100) }}%)</i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <h4>Document Analytics  <button type="button" class="btn btn-outline-info btn-sm" onclick="showHideAnalyticsDetails()">Show/Hide</button></h4>
        <div class="container" id="analytics" style="display:none;">
         <div class="row">
            <div class="col">
                <canvas id="chart_contentoverview" width="50" height="50"></canvas>
            </div>
            <div class="col">
                <canvas id="chart_resultoverview" width="50" height="50"></canvas>
            </div>
            <div class="col">
                <canvas id="chart_clock" width="50" height="50"></canvas>
            </div>            
        </div>
        </div>
       


        <h4>Element Details <button type="button" class="btn btn-outline-info btn-sm" onclick="showHideElementDetails()">Show/Hide</button></h4>
        <div id="elementdetails" style="display:none;">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in element.items() %}
                    <tr>
                        <td><b>{{ k }}</b></td>
                        <td>{{ v }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if metadata.nerrors == 0 %}
        <h4>No errors occured during processing</h4>
        {% else %}
        <h4>Errors Occuring During Processing: ({{ metadata.nerrors }}) <button type="button" class="btn btn-outline-info btn-sm" onclick="showHideErrorList()">Show/Hide</button></h4>
        <div id="errorlist" style="display:none;">
            <table class="table table-striped table-sm">
                <tr>
                    <th>Error</th>
                    <th>Function</th>
                    <th>Item</th>
                    <th>Full Details</th>
                </tr>
                <tbody>
                    {% for e in errors %}
                    <tr>
                        <td>{{ e.err }}</td>
                        <td>{{ e.function }}</td>
                        <td>{{ e.itemid }}</td>
                        <td>{{ e }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <hr />
    </div>





    <h3>Timeline</h3>
    <input class="form-control" id="timelinesearch" type="text" placeholder="Search...">
    <br>
    <table class="table .table-sm">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>ItemID</th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody id="timelinetable">
            {% for t in timeline %}
            {% if t.tl_type == "claim" %}
            <tr class="table-light">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-secondary">{{ t.tl_type }}</span></td>
                <td><a href={{metadata.asvr}}/claim/{{ t.claim.itemid }}>{{ t.claim.itemid }}</a></td>
                <td>Contains:
                    {% for k in t.claim.payload.payload.keys() %}
                    <span class="badge bg-secondary"> {{ k }} </span>
                    {% endfor %}
                </td>
            </tr>
            {% elif t.tl_type == "logentry" %}
            <tr class="table-dark">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-danger">{{ t.tl_type }}/{{ t.ch }}/{{ t.op }}</span></td>
                <td>--</td>
                <td><i>{{ t.data }}</i>
                </td>
            </tr>

            {% elif t.tl_type == "result" %}
            {% if t.result.result == 0 %}
            <tr class="table-success">
                {% else %}
            <tr class="table-danger">
                {% endif %}
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-primary">{{ t.tl_type }}</span></td>
                <td><a href={{metadata.asvr}}/result/{{ t.result.itemid }}>{{ t.result.itemid }}</a></td>
                <td>Result value=<b>{{ t.result.result }}</b>&nbsp;for rule <b>{{ t.result.ruleName}}</b> and claim <i>{{ t.result.claimID }}</i> </td>
            </tr>
            {% elif t.tl_type == "session/open" %}
            <tr class="table-info">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-danger">{{ t.tl_type }}</span></td>
                <td><a href={{metadata.asvr}}/session/{{ t.itemid }}>{{ t.itemid }}</a></td>
                <td>{{ t }}</td>
            </tr>
            {% elif t.tl_type == "session/closed" %}
            <tr class="table-info">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-success">{{ t.tl_type }}</span></td>
                <td><a href={{metadata.asvr}}/session/{{ t.itemid }}>{{ t.itemid }}</a></td>
                <td>{{ t }}</td>
            </tr>
            {% elif t.tl_type == "session/closed/start" %}
            <tr class="table-info">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-success">{{ t.tl_type }}</span></td>
                <td><a href={{metadata.asvr}}/session/{{ t.itemid }}>{{ t.itemid }}</a></td>
                <td>{{ t }}</td>
            </tr>
            <!-- ANALYSIS RESULTS -->
            {% elif t.tl_type == "PCRDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>
                    <table class="table  table-striped .table-sm">
                        <tbody>
                            <tr>
                                <th>action</th>
                                <th>PCR</th>
                                <th>New</th>
                                <th>Old</th>
                            </tr>
                            {% for d in t.difference %}
                            <tr>
                                <td>{{ d[0] }}</td>
                                <td>{{ d[1] }}</td>
                                <td>{{ d[2][0] }}</td>
                                <td>{{ d[2][1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                {% elif t.tl_type == "QuoteResetDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>Reboot/powercycle count is now <b>{{ t.difference.reset_new }}</b>, was <b>{{ t.difference.reset_old }}</b></td>
            </tr>
            {% elif t.tl_type == "QuoteRestartDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>Hibernation/Sleep count is now <b>{{ t.difference.restart_new }}</b>, was <b>{{ t.difference.restart_old }}</b></td>
            </tr>
            {% elif t.tl_type == "QuoteSafeDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>Safe value change since last quote, now <b>{{ t.difference.safe_new }}</b>, was <b>{{ t.difference.safe_old }}</b></td>
            </tr>
            {% elif t.tl_type == "QuoteClockCheck" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>Clock change negative (or zero) since last quote, now <b>{{ t.difference.clock_new }}</b>, was <b>{{ t.difference.clock_old }}</b>&nbsp;(difference of {{t.difference.clock_new | int - t.difference.clock_old | int}} ticks)</td>
            </tr>
            {% elif t.tl_type == "QuoteFirmwareDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>TPM Firmware Change, now <b>{{ t.difference.firmwareVersion_new }}</b>, was <b>{{ t.difference.firmwareVersion_old }}</b></td>
            </tr>
            {% elif t.tl_type == "QuoteQualifiedSignerDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>Quote qualified signer change, now <b>{{ t.difference.qualifiedSigner_new }}</b>, was <b>{{ t.difference.qualifiedSigner_old }}</b></td>
            </tr>
            {% elif t.tl_type == "ElementDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>
                    <table class="table  table-striped .table-sm">
                        <tbody>
                            <tr>
                                <th>action</th>
                                <th>Field</th>
                                <th>Current Description</th>
                                <th>This Claim's Description</th>
                            </tr>
                            {% for d in t.difference %}
                            <tr>
                                <td>{{ d[0] }}</td>
                                <td>{{ d[1] }}</td>
                                <td>{{ d[2][0] }}</td>
                                <td>{{ d[2][1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% elif t.tl_type == "SystemInformationDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>
                    <table class="table  table-striped .table-sm">
                        <tbody>
                            <tr>
                                <th>action</th>
                                <th>Field</th>
                                <th>Current Description</th>
                                <th>This Claim's Description</th>
                            </tr>
                            {% for d in t.difference %}
                            <tr>
                                <td>{{ d[0] }}</td>
                                <td>{{ d[1] }}</td>
                                <td>{{ d[2][0] }}</td>
                                <td>{{ d[2][1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% elif t.tl_type == "ThinkLMIDifference" %} <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>
                      <table class="table  table-striped .table-sm">
                        <tbody>
                              <tr>
                                <th>action</th>
                                <th>Field</th>
                                <th>Current Description</th>
                                <th>This Claim's Description</th>
                            </tr>
                            {% for d in t.difference %}
                              <tr> <td>{{ d[0] }}</td> <td>{{ d[1] }}</td> <td>{{ d[2][0] }}</td> <td>{{ d[2][1] }}</td> </tr>
                            {% endfor %}
                        </tbody>
                      </table>            
                </td>
            </tr>
            {% elif t.tl_type == "PCRDigestDifference" %} 
            <tr class="table-warning">
                <td>{{ t.tl_tsUTC }}</td>
                <td><span class="badge bg-warning">{{ t.tl_type }}</span></td>
                <td>old: <i><a href={{metadata.asvr}}/claim/{{ t.claim_old }}>{{ t.claim_old }}</a></i><br>new: <i><a href={{metadata.asvr}}/claim/{{ t.claim_new }}>{{ t.claim_new }}</a></i></td>
                <td>Now <b>{{ t.difference.pcrDigest_new }}</b> was <b>{{ t.difference.pcrDigest_old }}</b> for selection <i>{{ t.pcrselection }}</i></td>
            </tr>    
            {% else %}
            <tr class="table-dark">
                <td>???</td>
                <td>???</td>
                <td>{{ t }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>



    <script>
    function showHideErrorList() {
        var x = document.getElementById("errorlist");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>
    <script>
    function showHideElementDetails() {
        var x = document.getElementById("elementdetails");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>
    <script>
    function showMetaData() {
        var x = document.getElementById("documentdetails");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>
    <script>
    function showHideAnalyticsDetails() {
        var x = document.getElementById("analytics");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>    
    <script>
    $(document).ready(function() {
        $("#timelinesearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#timelinetable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>





    <!-- scripts to draw the graphs -->
    <script>
    var contentoverview_ctx = document.getElementById('chart_contentoverview').getContext('2d');
    const contentoverview = new Chart(contentoverview_ctx, {
        type: 'doughnut',
        data: {
            labels: ['Claims', 'Results', 'Open Sessions', "Closed Sessions", "Analytics", "Log Entries"],
            datasets: [{
                label: 'Contents',
                data: [{{ analytics.contentoverview.nc }},
                    {{ analytics.contentoverview.nr }},
                    {{ analytics.contentoverview.nso }},
                    {{ analytics.contentoverview.nsc }},
                    {{ analytics.contentoverview.no }},
                    {{ analytics.contentoverview.nl }}
                ],

                backgroundColor: [
                    'rgb(128,128,128)', 'rgb(51, 51, 255)', 'rgb(255, 0, 0)', 'rgb(0, 102, 0)', 'rgb(204, 204, 0)','rgb(20, 20, 20)'
                ]
            }],
        }

    })



    var resultoverview_ctx = document.getElementById('chart_resultoverview').getContext('2d');
    const resultoverview = new Chart(resultoverview_ctx, {
        type: 'doughnut',
        data: {
            labels: ['Success', 'Fail', 'Error', "No Result"],
            datasets: [{
                label: 'Contents',
                data: [{{ analytics.resultoverview.rs }},
                    {{ analytics.resultoverview.rf }},
                    {{ analytics.resultoverview.re }},
                    {{ analytics.resultoverview.rn }}
                ],

                backgroundColor: [
                    'rgb(0,153,0)', 'rgb(255, 0, 0)', 'rgb(204, 204, 0)', 'rgb(128, 128, 128)'
                ]
            }],
        }

    })




   const clockdata = {
            datasets: [{ label: 'Clock',
                         data: {{ analytics.clock|tojson }} ,
                         backgroundColor: 'rgb(0, 0, 102)',
                         yAxisID:"clk"
                        },
                        { label: 'Reset',
                         data: {{ analytics.reset|tojson }} ,
                         backgroundColor: 'rgb(204, 0, 0)',
                         yAxisID:"rst"
                        }


                        ]
                    }
           
            

    var clock_ctx = document.getElementById('chart_clock').getContext('2d');
    const clock_chart = new Chart(clock_ctx, {
            type: 'scatter',
            data: clockdata,
            scales: {
                clk:{ type:'linear',position:'left'},
                rst:{ type:'linear',position:'right', grid: {
          drawOnChartArea: false 
        }}                
            }
        }
    )

    </script>
</div>
{% endblock %}