[Unit]
Description=Fake Measured Boot TPM2Tools version
Wants=tpm2-abrmd.service
After=tpm2-abrmd.service

[Service]
Type=oneshot
ExecStart=/boot/measuredboot/measure.start.tpm2tools

[Install]
WantedBy=multi-user.target
