[Unit]
Description=Fake Measured Boot
Wants=tpm2-abrmd.service
After=tpm2-abrmd.service

[Service]
Type=oneshot
ExecStart=/boot/measuredboot/measure.start

[Install]
WantedBy=multi-user.target
