[Unit]
Description=Start IoT device
Wants=measure.eltt2.service
After=multi-user.target

[Service]
ExecStart=python3 /opt/iot/secure_sensor_management_system/SensorManagementLibrary/Device.py
Type=simple

[Install]
WantedBy=multi-user.target
