.device-list-component-container {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #2f3e47 0%, #1e232e 100%);
  height: 4.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  color: White;
  box-shadow: 0 0.25rem 0.625rem -0.125rem #000000;
  margin: 1rem 0.8rem 1rem 0.8rem;
}

.device-list-component-container:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #1e232e 0%, #2f3e47 100%);
}

.device-list-component-img {
  max-width: 3.125rem;
  object-fit: contain;
  margin-right: 0.625rem;
}

.device-list-component-left {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 1.25rem;
  align-items: center;
}

.device-list-component-right {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 1.25rem;
  font-size: 1.375rem;
  font-weight: bold;
}

.device-list-component-label,
.device-list-component-info {
  margin: 0;
}

.device-list-component-label {
  letter-spacing: 0.05rem;
}

.device-list-component-textcontainer {
  display: flex;
  height: 100%;
  min-width: 100%;
  flex-flow: column wrap;
  align-content: flex-start;
  text-align: start;
}
