[Unit]
Description=Start sensor TGHPASensor
Requires=iot.devices.service

[Service]
ExecStart=python3 /opt/iot/secure_sensor_management_system/apps/sensors/TGHPASensor/TGHPASensor.py
Type=simple

[Install]
WantedBy=multi-user.target
