{{define "tpm2.html"}}
<table class="table  table-striped">

   <tbody>
    <tr><td scope="col">TPM Device</th> <td scope="col">{{ .Device }}</th>  </tr>          
     <td scope="col">EK Certificate NVRAM Handle</th> <td scope="col">{{ .EKCertHandle }}</th>  </tr>  
      <tr><td scope="col">Endorsement Key</th> <td scope="col">{{ template "tpm2key.html" .EK }}</td> 
      </tr>     
      <tr><td scope="col">Atteststion Key</th></th> <td scope="col">{{ template "tpm2key.html" .AK }}</td> 
      </tr>           
   </tbody>
</table>
{{end}}


