name: Android CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"
          cache: gradle

      - name: Grant execute permission for gradlew
        working-directory: ./apps/mobileattester
        run: chmod +x gradlew
      - name: Build with Gradle
        working-directory: ./apps/mobileattester
        run: ./gradlew build

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"
          cache: gradle
      - name: Unit tests
        working-directory: ./apps/mobileattester
        run: bash ./gradlew test --stacktrace
